*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(255, 250, 244);
}

.wrapper {
    border-radius: 8px;
    width: 70vmin;
    height: 75vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgb(232, 198, 153, 0.8);
}

.game-details {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    background-color: burlywood;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    width: 100%;
    background-color: red;
}
.play-board .head {
    width: 100%;
    background-color: rgb(0, 15, 228);
}

.wrapper .movingArrows {
    display: flex;
    justify-content: space-around;
    height: 60px;
    flex-direction: row;
    align-items: center;
}

.arrows {
    font-size: 20px;
    border: 1px solid rgb(27, 27, 27, 0.2);
    padding: 19px 25px;
    color: rgb(21, 1, 75);
}

.arrows:hover,
.arrows:focus {
    background-color: rgb(236, 178, 31);
}